@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


body{
    font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: rgb(238, 69, 64);
  background: linear-gradient(
    180deg,
    rgba(238, 69, 64, 1) 0%,
    rgba(199, 44, 65, 1) 15%,
    rgba(128, 19, 54, 1) 30%,
    rgba(81, 10, 50, 1) 45%,
    rgba(45, 20, 44, 1) 100%
  );
    background-size: cover;          
    background-position: center;
    background-repeat: no-repeat;       
    height: 100vh;
    background-attachment: fixed;     
}

.card-myzoan {
    width: 348px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: transparent;
    padding: 15px;
    margin: 0 auto 2rem;
    margin-top: 10px;
}

.text-flame {
    width: 100%;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}

.btn-2 {
    width: 100%;
    margin-bottom: 10px;
   
}


.btn-3 {
    width: 100%;
    display: flex;
    margin-top: 10px
}

.btn-3 button {
   
  
    width: 50%;
}

.btn-4 {
    width: 12%;
    padding: 5px;
    margin: 1 auto 2rem;
}


.btn {
    border-radius: 20px;
    margin-right: 5px;
}

.precio-zoon{
    background-color: black;
   margin-right: 10px;
}

.tabla-peleas {
    width: 950px;
    margin: 0 auto 2rem;
    margin-top: 10px;
}

.addzoan {
    margin-top: 5px;
}

.custommarginnavigation {
    margin-top: 10px;
}

.logoutbuttom {
    margin-top: 12px;
}

.card-stats{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid #d8dbe0;
}

.body-stats{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.row-stats{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.c-callout{
    position: relative;
    padding: 0 1rem;
    margin: 1rem 0;
    border-radius: .25rem;
}