@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


body{
    font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: rgb(238, 69, 64);
  background: linear-gradient(
    180deg,
    rgba(238, 69, 64, 1) 0%,
    rgba(199, 44, 65, 1) 15%,
    rgba(128, 19, 54, 1) 30%,
    rgba(81, 10, 50, 1) 45%,
    rgba(45, 20, 44, 1) 100%
  );
    background-size: cover;          
    background-position: center;
    background-repeat: no-repeat;       
    height: 100vh;
    background-attachment: fixed;     
}

.card-myzoan {
    width: 347px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: transparent;
    padding: 15px;
    margin: 0 auto 2rem;
}

.text-flame {
    width: 100%;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}

.btn-2 {
    width: 100%;
    margin-bottom: 10px;
   
}


.btn-3 {
    width: 100%;
    display: flex;
    margin-top: 10px
}

.btn-3 button {
   
  
    width: 50%;
}

.btn-4 {
    width: 12%;
    margin-bottom: 10px;
}


.btn {
    border-radius: 20px;
    margin-right: 5px;
}